body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff67e;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #336699;
    color: white;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

aside {
    flex: 1;
    padding-right: 20px;
    background-color: white;
    border-right: 1px solid #ccc;
}

h2.form-heading {
    margin-top: 0;
    font-size: 1.5rem;
    color: #336699;
}

form {
    margin-bottom: 20px;
}

.form-input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 10px 20px;
    background-color: #336699;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

hr.weather-hr {
    margin: 20px 0;
    border: none;
    border-top: 1px dashed #ccc;
}

#history {
    margin-top: 20px;
    padding: 10px;
    background-color: #09bcc9;
}
#history button{
    background-color: #077c85;
    font-size: 30px;
    
}

.main-content {
    flex: 3;
    padding-left: 20px;
}

section {
    margin-top: 20px;
}

p.temp,
p.weather,
p.wind-speed,
p.humidity {
    font-size: 1.2rem;
    margin: 10px 0;
}
aside{
    background-color: #e7e96c;
}